.chat-container {
    height: calc(100% - 10vh);
    width: 100%;
    position: relative;
}

.chat-container-left-one {
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    left: 0;
    width: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.chat-container-left {
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    left: 5%;
    width: 25%;
}
    
.chat-container-right {
    /* height: 100%;
    position: absolute;
    overflow-x: hidden;
    right: 0;
    width: 70%; */

    height: 100%;
    position: absolute;
    overflow: hidden;
    right: 0;
    width: 70%;
}

.chat-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ebf4fb !important;
    border: none !important;
}

.mat-drawer-container {
    position: initial !important;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.mat-drawer-inner-container {
    background: #ebf4fb;
}

.mcd-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
    background: #ebf4fb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 250px;
}

.mcd-menu li {
    position: relative;
}

.mcd-menu li {
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    color: #000;
    text-align: left;
    position: relative;
    border-bottom: 1px solid #d0dde7;
}

small {
    color: #385569d4 !important;
}

.mcd-menu li i {
    float: left;
    font-size: 20px;
    margin: 0 10px 0 0;
}

.mcd-menu li strong {
    display: block;
}

.mcd-menu li small {
  display: block;
  font-size: 10px;
}

.mcd-menu li i, .mcd-menu li strong, .mcd-menu li small {
    position: relative;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
}

.mcd-menu li:hover > i {
    opacity: 1;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
    -o-animation: moveFromTop 300ms ease-in-out;
    animation: moveFromTop 300ms ease-in-out;
}

.mcd-menu li:hover strong {
    opacity: 1;
    -webkit-animation: moveFromLeft 300ms ease-in-out;
    -moz-animation: moveFromLeft 300ms ease-in-out;
    -ms-animation: moveFromLeft 300ms ease-in-out;
    -o-animation: moveFromLeft 300ms ease-in-out;
    animation: moveFromLeft 300ms ease-in-out;
}

.mcd-menu li:hover a small {
    opacity: 1;
    -webkit-animation: moveFromRight 300ms ease-in-out;
    -moz-animation: moveFromRight 300ms ease-in-out;
    -ms-animation: moveFromRight 300ms ease-in-out;
    -o-animation: moveFromRight 300ms ease-in-out;
    animation: moveFromRight 300ms ease-in-out;
}

.mcd-menu li:hover > a {
    color: #3f51b5;
}

.mcd-menu li a.active {
    position: relative;
    color: #3f51b5;
    border:0;
    box-shadow: 0 0 5px #DDD;
    -moz-box-shadow: 0 0 5px #DDD;
    -webkit-box-shadow: 0 0 5px #DDD;
    border-left: 4px solid #3f51b5;
    border-right: 4px solid #3f51b5;
    margin: 0 -4px;
}

.mcd-menu li a.active:before {
    content: "";
    position: absolute;
    top: 42%;
    left: 0;
    border-left: 5px solid #3f51b5;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.mcd-menu li a.active:after {
    content: "";
    position: absolute;
    top: 42%;
    right: 0;
    border-right: 5px solid #3f51b5;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes moveFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}


.mcd-menu li ul,
.mcd-menu li ul li ul {
  position: absolute;
  height: auto;
  min-width: 200px;
  padding: 0;
  margin: 0;
  background: #FFF;
  /*border-top: 4px solid #3f51b5;*/
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  /*top: 130px;*/
  z-index: 1000;
  
  /* == */
  left:280px;
  top: 0px;
  border-left: 4px solid #3f51b5;
  /* == */
}
.mcd-menu li ul:before {
  content: "";
  position: absolute;
  /*top: -8px;
  left: 23%;
  border-bottom: 5px solid #3f51b5;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  
  /* == */
  top: 25px;
  left: -9px;
  border-right: 5px solid #3f51b5;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  /* == */
}
.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  /*top: 100px;*/
  
  /* == */
  left:250px;
  /* == */
}
/*.mcd-menu li ul li {
  float: none;
}*/
.mcd-menu li ul li a {
  padding: 10px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #EEE;
  
  /* == */
  height: auto;
  /* == */
}
.mcd-menu li ul li a i {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}
.mcd-menu li ul li ul {
  left: 230px;
  top: 0;
  border: 0;
  border-left: 4px solid #3f51b5;
}  
.mcd-menu li ul li ul:before {
  content: "";
  position: absolute;
  top: 15px;
  /*left: -14px;*/
  /* == */
  left: -9px;
  /* == */
  border-right: 5px solid #3f51b5;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.mcd-menu li ul li:hover > ul {
  top: 0px;
  left: 200px;
}



/*.mcd-menu li.float {
  float: right;
}*/
.mcd-menu li a.search {
  /*padding: 29px 20px 30px 10px;*/
  padding: 10px 10px 15px 10px;
  clear: both;
}
.mcd-menu li a.search i {
  margin: 0;
  display: inline-block;
  font-size: 18px;
}
.mcd-menu li a.search input {
  border: 1px solid #EEE;
  padding: 10px;
  background: #FFF;
  outline: none;
  color: #777;
  
  /* == */
  width:170px;
  float:left;
  /* == */
}
.mcd-menu li a.search button {
  border: 1px solid #3f51b5;
  /*padding: 10px;*/
  background: #3f51b5;
  outline: none;
  color: #FFF;
  margin-left: -4px;
  
  /* == */
  float:left;
  padding: 10px 10px 11px 10px;
  /* == */
}
.mcd-menu li a.search input:focus {
  border: 1px solid #3f51b5;
}


.search-mobile { 
	display:none !important;
	background:#3f51b5;
	border-left:1px solid #3f51b5;
	border-radius:0 3px 3px 0;
}
.search-mobile i { 
	color:#FFF; 
	margin:0 !important;
}


@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .mcd-menu {
		margin-left:10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .mcd-menu {
		width: 200px;
	}
	.mcd-menu li a {
		height:30px;
	}
	.mcd-menu li a i {
		font-size: 22px;
	}
	.mcd-menu li a strong {
		font-size: 12px;
	}
	.mcd-menu li a small {
		font-size: 10px;
	}	
	.mcd-menu li a.search input {
		width: 120px;
		font-size: 12px;
	}
	.mcd-menu li a.search buton{
		padding: 8px 10px 9px 10px;
	}
	.mcd-menu li > ul {
		min-width:180px;
	}
	.mcd-menu li:hover > ul {
		min-width:180px;
		left:200px;
	}
	.mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
		min-width:150px;
	}
	.mcd-menu li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}
	.mcd-menu li ul li ul li:hover > ul {
		left:150px;
		min-width:150px;
	}
	.mcd-menu li ul a {
		font-size:12px;
	}
	.mcd-menu li ul a i {
		font-size:14px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.mcd-menu { 
		width: 50px;
	}

	.mcd-menu li a { 
		position: relative;
		padding: 12px 16px;
		height:20px;
	}

	.mcd-menu li a small { 
		display: none;
	}

	.mcd-menu li a strong { 
		display: none;
	}

	.mcd-menu li a:hover strong,.mcd-menu li a.active strong {
		display:block;
		font-size:10px;
		padding:3px 0;
		position:absolute;
		bottom:0px;
		left:0;
		background:#3f51b5;
		color:#FFF;
		min-width:100%;
		text-transform:lowercase;
		font-weight:normal;
		text-align:center;
	}

	.mcd-menu li .search { 
		display: none;
	}
	
	.mcd-menu li > ul {
		min-width:180px;
		left:70px;
	}

	.mcd-menu li:hover > ul {
		min-width:180px;
		left:50px;
	}

	.mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
		min-width:150px;
	}

	.mcd-menu li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}

	.mcd-menu li ul li ul li > ul {
		left:35px;
		top: 45px;
		border:0;
		border-top:4px solid #3f51b5;
	}

	.mcd-menu li ul li ul li > ul:before {
		left:30px;
		top: -9px;
		border:0;
		border-bottom:5px solid #3f51b5;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
	}

	.mcd-menu li ul li ul li:hover > ul {
		left:30px;
		min-width:150px;
		top: 35px;
	}
	.mcd-menu li ul a {
		font-size:12px;
	}
	.mcd-menu li ul a i {
		font-size: 14px;
	}	
}

@media only screen and (max-width: 479px) {
    .mcd-menu { 
		width: 50px;
	}
	.mcd-menu li a { 
		position: relative;
		padding: 12px 16px;
		height:20px;
	}

	.mcd-menu li a small { 
		display: none;
	}

	.mcd-menu li a strong { 
		display: none;
	}

	.mcd-menu li a:hover strong,.mcd-menu li a.active strong {
		display:block;
		font-size:10px;
		padding:3px 0;
		position:absolute;
		bottom:0px;
		left:0;
		background:#3f51b5;
		color:#FFF;
		min-width:100%;
		text-transform:lowercase;
		font-weight:normal;
		text-align:center;
	}

	.mcd-menu li .search { 
		display: none;
	}
	
	.mcd-menu li > ul {
		min-width:180px;
		left:70px;
	}

	.mcd-menu li:hover > ul {
		min-width:180px;
		left:50px;
	}

	.mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
		min-width:150px;
	}

	.mcd-menu li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}

	.mcd-menu li ul li ul li > ul {
		left:35px;
		top: 45px;
		border:0;
		border-top:4px solid #3f51b5;
	}

	.mcd-menu li ul li ul li > ul:before {
		left:30px;
		top: -9px;
		border:0;
		border-bottom:5px solid #3f51b5;
		border-left:5px solid transparent;
		border-right:5px solid transparent;
	}

	.mcd-menu li ul li ul li:hover > ul {
		left:30px;
		min-width:150px;
		top: 35px;
	}

	.mcd-menu li ul a {
		font-size:12px;
	}

	.mcd-menu li ul a i {
		font-size:14px;
	}
}

/* Message Area */

.header {
    position: absolute;
    right: 0;
    justify-content: space-between;
}

.contents {
    padding: 16px;
}

.main {
    background-color: #fff;
}
  
.header {
    position: fixed;
    border-bottom: 1px solid #ccc;
    left: 30%;
    height: 76px;
}
  
.main.contents {
    min-height: 100vh;
    margin-top: 80px;
    padding: 16px;
}

.main.footer {
    position: fixed;
    border-top: 1px solid #ccc;
    bottom: 0;
}

.fa-icons-class {
    background: #f0f4f8;
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 16px;
}

.usernameClass {
    font-size: 24px;
    font-weight: bold;
}

.d-flex.bd-highlight.newClass {
    width: 70%;
    padding: 0px 15px;
}

.newSmall {
    font-size: 12px;
    display: flex;
    height: 10px;
    margin: -10px 0px;
    color: #607d8b !important;
}

.userImage i {
    font-size: 20px !important;
    background: #3f4656;
    padding: 10px 12px;
    border-radius: 50%;
    color: #fff;
}

.mcd-menu li:hover {
    color: #000 !important;
    background: white !important;
    border-left: 5px solid #f94b4b !important;
}

li.active {
    background: #375e67;
    color: white !important;
    border-left: 5px solid #f94b4b !important;
}

.mcd-menu li.active small{
    color: white !important;
}

.active > .userImage i {
    background: #fff !important;
    color: #375e67!important;
}

.mcd-menu li.active:hover {
    background: #375e67 !important;
    color: white !important;
}

.mcd-menu li.active:hover small{
    color: white !important;
}

.d-flex.bd-highlight.newClass1 {
    width: 70% !important;
}

i.fa.fa-location-arrow.fa-send-class {
    background: #f94b4b;
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 5px 0px #f90000;
}

.input-class {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.input-class:focus {
    outline: none;
}

.mcd-menu li.active::after{
    position: absolute;
    bottom: 0;
    height: 0;
    width: 0;
    left: 81%;
    border: 32px solid #00000000;
    border-right-color: #ffffff;
    content: "";
}

.search-class {
    background: #e2eef7;
    padding: 20px;
}

.has-search .form-control {
    padding-left: 2rem;
    font-size: 14px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

input.form-control {
    border-radius: 50px;
}

.form-control:focus {
    outline: none;
}

.content-section {
    height: 100%;
}

.profileImage {
    background: #141a26;
    width: 100%;
}

.icons-section {
    background: #181f2e;
    width: 100%;
    font-size: 20px;
}

.bottom-section {
    background: #202a3f;
    width: 100%;
    font-size: 20px;
    padding: 15px 0px !important;
}

i.fa.fa-user.profileIcon {
    background: white;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 24px;
    border: 1px solid #f94b4b;
    color: #181f2e;
}

.d-flex.align-items-start.flex-column.innerIconClass {
    align-items: center !important;
}

.d-flex.align-items-start.flex-column.innerIconClass i {
    padding: 10px 0px;
}

.d-flex.align-items-start.flex-column.innerIconClass i:hover {
    color: #fb4c4a;
}

/* .message-containter {
    height: 100% !important;
} */

.chatContainerExtendClass {
    position: initial !important;
}

.left-msg {
    color: #000000;
    background: #ebf4fb;
    padding: 5px 30px;
    margin: 14px;
    border-radius: 50px;
    width: 50%;
    float: left;
}

.left-msg p {
    margin: 3px 0px !important;
}

.right-msg {
    background: #fd4f4f;
    color: #ffffff;
    padding: 5px 30px;
    margin: 14px;
    border-radius: 50px;
    width: 50%;
    float: right;
}

.right-msg p {
    margin: 3px 0px !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0px 20px 0px 0px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.p-2.bd-highlight.footer-class {
    padding: 0px !important;
}

.p-2.flex-grow-1.bd-highlight.message-content-section {
    overflow-y: scroll;
    height: 90vh;
}


.message-box {
    float: left;
}

.chat-message:first-child {
    margin-top: 80px !important;
}

.chat-message:last-child {
    margin-top: 80px !important;
}