<div class="chat-container" [ngClass]="{'chatContainerExtendClass': this.cas.isUserLogged === true}">
    <div class="chat-container-left-one">
        <div class="d-flex align-items-start flex-column content-section">
            <div class="p-2 profileImage">
                <i aria-hidden="true" class="fa fa-user profileIcon"></i>
            </div>
            <div class="p-2 flex-grow-1 bd-highlight icons-section">
                <div class="d-flex align-items-start flex-column innerIconClass">
                    <div class="p-2">
                        <i aria-hidden="true" class="fa fa-commenting-o fa-flip-horizontal"></i>
                    </div>
                    
                    <div class="p-2">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>

                    <div class="p-2">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </div>

                    <div class="p-2">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="p-2 bottom-section">
                <i aria-hidden="true" class="fa fa-cog"></i>
            </div>
            <div class="p-2 bottom-section" (click)="logout()">
                <i aria-hidden="true" class="fa fa-sign-out"></i>
            </div>
        </div>
    </div>

    <div class="chat-container-left">
        <mat-sidenav-container>
            <mat-sidenav mode="side" opened class="chat-sidenav">
                <div class="search-class">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search" (input)="searchUser($event)">
                    </div>
                </div>

                <nav>
                    <ul class="mcd-menu">
                        <li *ngFor="let user of getUsersList" [ngClass]="{'active': user.selected === true}" (click)="chatClick(user.payload.doc.id, user.payload.doc.data().username)">
                            <div class="userImage">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </div>
                            <strong>{{user.payload.doc.data().username}}</strong>
                            <small>Software Developer</small>
                        </li>
                    </ul>
                </nav>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>

    <div class="chat-container-right" *ngIf="isShowChatSection">
        <ng-container *ngIf="chats$ | async as chat">
            <div class="d-flex flex-column bd-highlight mb-3 message-containter">
                <div class="p-0 bd-highlight">
                    <mat-toolbar class="main header">
                        <div class="d-flex bd-highlight newClass">
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <span class="usernameClass">{{currentChatUserName}}</span>
                                <small class="newSmall">Active Now</small>
                            </div>
                            <div class="p-2 bd-highlight">
                                <i class="fa fa-video-camera fa-icons-class" aria-hidden="true"></i>
                            </div>
                            <div class="p-2 bd-highlight">
                                <i class="fa fa-phone fa-icons-class" aria-hidden="true"></i>
                            </div>
                        </div>
                    </mat-toolbar>
                </div>
                <div class="p-2 flex-grow-1 bd-highlight message-content-section" #chatcontent [scrollTop]="scrolltop">
                    <div class="chat-message" *ngFor="let msg of chat.messages">
                        <div class="right-msg" [ngClass]="{'right-msg': msg.userName === this.currentUserInfo.username, 'left-msg': msg.userName !== this.currentUserInfo.username}">
                            <span class="msg-name" *ngIf="msg.userName === this.currentUserInfo.username">Me</span>
                            <span class="msg-name" *ngIf="msg.userName !== this.currentUserInfo.username">{{msg.userName}}</span>
                            <span class="msg-date"> at {{msg.createdAt | date:'short'}}</span>
                            <p text-wrap>{{msg.content}}</p>
                        </div>
                    </div>
                </div>
                <div class="p-2 bd-highlight footer-class">
                    <mat-toolbar class="main footer">
                        <div class="d-flex bd-highlight newClass1">
                            <div class="p-2 bd-highlight">
                                <i class="fa fa-smile-o fa-icons-class" aria-hidden="true"></i>
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <input type="text" class="input-class" placeholder="Your message here..." [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)">
                            </div>
                            <div class="p-2 bd-highlight">
                                <i class="fa fa-paperclip fa-rotate-90 fa-icons-class" aria-hidden="true"></i>
                            </div>
                            <div class="p-2 bd-highlight" (click)="submit(chat.id)">
                                <i class="fa fa-location-arrow fa-send-class" aria-hidden="true"></i>
                            </div>
                        </div>
                    </mat-toolbar>
                </div>
            </div>
        </ng-container>
        <!-- <ng-container *ngIf="chats$ | async as chat">
            <mat-drawer-container class="example-container">
                <mat-toolbar class="main header">
                    <div class="d-flex bd-highlight newClass">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <span class="usernameClass">{{currentChatUserName}}</span>
                            <small class="newSmall">Active Now</small>
                        </div>
                        <div class="p-2 bd-highlight">
                            <i class="fa fa-video-camera fa-icons-class" aria-hidden="true"></i>
                        </div>
                        <div class="p-2 bd-highlight">
                            <i class="fa fa-phone fa-icons-class" aria-hidden="true"></i>
                        </div>
                    </div>
                </mat-toolbar>
                
                <div class="main contents">
                    <div class="chat-message" *ngFor="let msg of chat.messages">
                        <div class="right-msg" [ngClass]="{'right-msg': msg.userName === this.currentUserInfo.username, 'left-msg': msg.userName !== this.currentUserInfo.username}">
                            <span class="msg-name" *ngIf="msg.userName === this.currentUserInfo.username">Me</span>
                            <span class="msg-name" *ngIf="msg.userName !== this.currentUserInfo.username">{{msg.userName}}</span>
                            <span class="msg-date"> at {{msg.createdAt | date:'short'}}</span>
                            <p text-wrap>{{msg.content}}</p>
                        </div>
                    </div>
                </div>
                
                <mat-toolbar class="main footer">
                    <div class="d-flex bd-highlight newClass1">
                        <div class="p-2 bd-highlight">
                            <i class="fa fa-smile-o fa-icons-class" aria-hidden="true"></i>
                        </div>
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <input type="text" class="input-class" placeholder="Your message here..." [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)">
                        </div>
                        <div class="p-2 bd-highlight">
                            <i class="fa fa-paperclip fa-rotate-90 fa-icons-class" aria-hidden="true"></i>
                        </div>
                        <div class="p-2 bd-highlight" (click)="submit(chat.id)">
                            <i class="fa fa-location-arrow fa-send-class" aria-hidden="true"></i>
                        </div>
                    </div>
                </mat-toolbar>
            </mat-drawer-container>
        </ng-container> -->
    </div>
</div>