<div class="containerClass">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="login()">
                <h2>Log In</h2>
    
                <mat-error *ngIf="loginInvalid">
                    The username and password were not recognised
                </mat-error>
    
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Email" autocomplete="off" formControlName="emailID" required />
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" autocomplete="off"  formControlName="password" required />
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
    
                <button mat-raised-button color="primary">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
