.expanded-toolbar {
    justify-content: space-between;
    align-items: center;
}

.mat-toolbar.mat-primary {
    background: #181f2e !important;
    color: #fff;
}

span.title {
    font-size: 24px;
}

.toolbarHideClass {
    display: none;
}