<mat-toolbar color="primary" class="expanded-toolbar" [ngClass]="{'toolbarHideClass': this.cas.isUserLogged === true}">
    <span class="title">
        {{title}}
    </span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/login" *ngIf="!this.cas.isUserLogged">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Sign In
        </button>

        <button mat-button routerLink="/register" *ngIf="!this.cas.isUserLogged">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Sign Up
        </button>

        <!-- <button mat-button *ngIf="this.cas.isUserLogged" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Sign Out
        </button> -->
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
