<div class="containerClass">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="createNewUser()">
                <h2>Sign Up</h2>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Username" formControlName="username" required />
                    <mat-error>
                        Please provide a valid username
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Email" formControlName="emailID" required />
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" formControlName="password" required />
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
    
                <button mat-raised-button color="primary">Sign Up</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
