mat-card {
    max-width: 400px;
    margin: 0px auto;
    text-align: center;
    top: 100px;
    bottom: 100px;
}

mat-form-field {
    display: block;
}

.containerClass {
    height: calc(100% - 10vh);
    background: #ebf4fb;
}